@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alkalami&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@media screen and (min-width:858px) {
    body {
        background-image: url("https://img.freepik.com/premium-vector/futuristic-abstract-vector-background-blockchain-technology-peer-peer-network-business-concept-gl_230610-927.jpg?w=2000");
        max-height: 100vh;
        background-size:cover;
        background-repeat: no-repeat;
    }
        main {
            width: 100%;
            height: 81vh;
            display: flex;
            flex-direction: row;
        }
        .img {
            display: flex;
            width: 27vw;
            padding: 3%;
            justify-content: flex-end;
            align-items: center;
        }
    
        .img img {
            background-size: contain;
            overflow: hidden;
            width: 20vw;
            border-radius: 120px;
        }
    
        .typed-strings {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70vw;
            height: 93vh;
        }
        .typed-strings p {
            font-size: 70px;
        }
        main div p {
                    color: black;
                    font-size: 10vw;
        }
        
        #type {
                    padding: 0px 154px;
                    font-size: 40px;
        }
}
@media screen and (max-width:858px){
    body {
            background-image:linear-gradient(gray 60%,white);
            max-height: 100vh;
            background-size:cover;
            /* background-repeat: no-repeat; */
        }
        main {
            width: 100%;
            height: 81vh;
            display: flex;
            flex-direction: column;
        }
    .img {
                    display: flex;
                    width: 100vw;
                    margin-top:50px;
                    justify-content: center;
                    align-items: center;
                    height:90vh;
                }
        
    .img img {
                    background-size: contain;
                    overflow: hidden;
                    height:32vh;
                    border-radius: 120px;
                }
        
    .typed-strings {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100vw;
                    height: 93vh;
                }
    .typed-strings p {
            font-size: 66px;
        }
    main div p {
    color: black;
    font-size: 10vw;
    }

    #type {
    padding: 0px 30px 0px 30px;
    font-size: 40px;
    }
}




nav {
    /* background-color: white; */
    height: 80px;
    width: 100%;
}

label.logo {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: rgb(174, 169, 169);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li {
        font-size: 16px;
    }
}

@media screen and (max-width:858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(115, 112, 112);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;}
        
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        
        nav ul li a {
            font-size: 20px;
        }
        
        a:hover,
        a.active {
            background: none;
            color: white;
        }
        
        #check:checked~ul {
            left: 0;
        }
    }
        
        .flex-all-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
@media screen and (width:280px) {
    label.logo {
        padding: 25px;
    }
}
        
        footer {
            height: 12vh;
            color: black;
            font-family: "Lato", sans-serif;
        }

